@model EShop.Web.ViewModels.OrderViewModel
@{
    ViewData["Title"] = "Оплата";
}

<div style="margin-top: 20px;">
    @if (Model.Items.Count > 0)
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Номер</th>
                    <th>Наименование</th>
                    <th>Описание</th>
                    <th>Количество</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                @{var i = 1; }
                @foreach (var orderItem in Model.Items)
                {
                    <tr>
                        <td style="text-align: right;">@i.ToString()</td>
                        <td>@orderItem.ProductName</td>
                        <td>@orderItem.Description</td>
                        <td style="text-align: right;">@orderItem.Count.ToString()</td>
                        <td><a asp-action="RemoveFromCart" asp-all-route-data="@(new Dictionary<string, string>() { {"productId", orderItem.Id.ToString() }})" class="btn btn-primary">Удалить</a></td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
        <a asp-action="ClearCart" class="btn btn-primary">Очистить</a>
        <a asp-action="Shipping" class="btn btn-primary">Продолжить</a>
    }
    else
    {
        <h3>В корзине ничего нет</h3>
    }
</div>
