@model EShop.Web.ViewModels.ProductViewModel
@{
    ViewData["Title"] = "Index";
    var activeCategoryId = Model.ActiveCategoryId.HasValue ? Model.ActiveCategoryId.Value : -1;
}

<!-- Content page -->
<section class="bgwhite p-t-55 ">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-20">
                <div class="leftbar p-r-20 p-r-0-sm">
                    <!--  -->
                    <h4 class="m-text14 p-b-7">
                        Категории
                    </h4>

                    <ul class="p-b-54">
                        <li class="p-t-4 @(activeCategoryId < 0 ? "sale-noti" : string.Empty)">
                            <a asp-action="Index" class="s-text13 ">
                                Все
                            </a>
                        </li>
                        @foreach (var category in Model.AvailableCategories)
                        {
                            <li class="p-t-4 @(activeCategoryId == category.Id ? "sale-noti" : string.Empty)">
                                <a asp-action="Index" asp-route-categoryId="@category.Id.ToString()" class="s-text13">
                                    @category.Name
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-md-8 col-lg-9 p-b-20">
                <!-- Product -->
                <div class="row">
                    @foreach (var product in Model.Products)
                    {
                        <div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
                            <!-- Block2 -->
                            <div class="block2">
                                <div class="block2-img wrap-pic-w of-hidden pos-relative @(product.IsNew ? "block2-labelnew" : string.Empty)">
                                    <img src="@product.PreviewImagePath" alt="IMG-PRODUCT">

                                    <div class="block2-overlay trans-0-4">
                                        <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                            <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                            <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                                        </a>

                                        <div class="block2-btn-addcart w-size1 trans-0-4">
                                            <!-- Button -->
                                            <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" onclick="addToCart(@product.Id.ToString())">
                                                Добавить в корзину
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="block2-txt p-t-20">
                                    <a asp-action="Details" asp-route-productId="@product.Id.ToString()" class="block2-name dis-block s-text3 p-b-5">
                                        @product.Name
                                    </a>
                                    <span class="block2-price m-text6 p-r-5">
                                        @product.Price.ToString("C")
                                    </span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Back to top -->
<div class="btn-back-to-top bg0-hov" id="myBtn">
    <span class="symbol-btn-back-to-top">
        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
    </span>
</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            //
        });

        function addToCart(id) {
            $.ajax({
                type: "POST",
                url: "/Cart/AddItem?" + "ProductId=" + id + "&Count=1",
                //data: JSON.stringify({ "ProductId": id, "Count": 1 }),
                //contentType: "application/json; charset=utf-8",
                //dataType: "json",
                success: function () {
                    var cartCount = parseInt($(".header-icons-noti").first().text());
                    cartCount += 1;
                    $(".header-icons-noti").text(cartCount);
                    console.log('notify fired');
                    $.notify({
                        message: 'Товар успешно добавлен в корзину'
                    },
                    {
                        element: "#topbar",
                        type: "info",
                        z_index: 1031,
                        delay: 1000
                    });
                },
                error: function (e, a, b) {
                    console.log("Server error ocured on adding cart item " + id);
                    console.log(e);
                    console.log(a);
                    console.log(b);
                }
            });
        }
    </script>
}